{% extends "auctions/layout.html" %}

{% block body %}
<div class="d-flex justify-content-center row">
  <img src="{{pageitem.image}}" class="card-img-top" style="height: 200px;width: 200px;">
</div>
<div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-center row">
        <h5 class="card-title">{{pageitem.title}}</h5>
      </div>
        <div class="d-flex justify-content-center row">
            {%if pageitem.category%}
            <p class="card-text"><small class="text-muted"><a href="{% url 'commerce:category' pageitem.category %}">Category {{pageitem.category}}</a></small></p>
            {%else%}
            <p></p>
            {%endif%}
        </div>
        <br>
        <div class="d-flex justify-content-center row">
          <p class="card-text">{{pageitem.description}}</p>
        </div>
        <br>
          <div class="d-flex justify-content-center row">
          <p class="card-text"><b>Min Bid: ${{pageitem.bid}}</b></p>
        </div>
        <div class="d-flex justify-content-center row">
          {%if pageitem.currentbid%}
          <p class="card-text"><b>Current Winner: {{pageitem.winninguser}}</b></p>
          {%else%}
          <b>Current Bid: No Bids Yet </b>
          {%endif%}
        </div>
        <div class="d-flex justify-content-center row">
          {%if pageitem.currentbid%}
          <p class="card-text"><b>Current Bid: ${{pageitem.currentbid}}</b></p>
          {%else%}
          <p></p>
          {%endif%}
        </div>
        <div class="d-flex justify-content-center row marg">
          <form action="{% url 'commerce:bidfunc' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input class="btn btn-outline-success marg" type="submit" id="button-addon1" value="Bid">
                <input required type="text" class="rounded marg" placeholder="Place Your Bid $" aria-describedby="button-addon1" name="bid" style="border-color:grey; width: 70%;">
                <input type="hidden" value="{{pageitem.id}}" name="bidid"> 
            </div>  
        </form>
        </div>
      
        <br>
      <div class="d-flex justify-content-center row">
        <form action="{% url 'commerce:wish' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{pageitem.id}}" name="wishid">
          <input class="marg btn btn-warning" type="submit" value="Add To Wishlist">
      </form>
      </div>
    </div>
</div>

  <div class="d-flex justify-content-center row">
    <h6>Comments</h6>
  </div>
  <div class="container">	
    {%if user.is_authenticated %}
    <form action="{% url 'commerce:commentsfunc' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary marg" type="submit" id="button-addon1">Comment</button>
            <input required type="text" class="form-control marg"  name="comment" placeholder="What's on your mind?" aria-describedby="button-addon1">
            <input type="hidden" value="{{pageitem.id}}" name="id">
        </div>
    </form>
    {%else%}
    <div class="d-flex justify-content-center row"><h6 style="color: navy;">You Need to Login in order to Comment</h6></div>
    {%endif%}
    </div>


  {%if all_comments%}
      <div class="container clearfix">
        <div class="chat">   
          <div class="chat-history">
            <ul class="chat-ul">
        {%for allcomments in all_comments %}  
          {%if allcomments.itemcomment == pageitem %}
            {%if allcomments.usercomment == current_user%}
                <li  class="clearfix">
                  <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle you"></i><b>You</b></span>
                  </div>
                  <div class="message you-message">
                    {{allcomments.comment}}
                    <div class="marg">
                      <form action="{% url 'commerce:reply' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-dark marg" type="submit" id="button-addon1">Reply</button>
                            <input required type="text" class="form-control marg"  name="reply"  aria-describedby="button-addon1" >
                            <input type="hidden" value="{{allcomments.id}}" name="commentid">
                            <input type="hidden" value="{{pageitem.id}}" name="pageid">
                        </div>
                    </form>
                    </div>
                    
                      <form action="{% url 'commerce:commentsfunc' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{allcomments.id}}" name="deleteid" >
                        <input type="hidden" value="{{pageitem.id}}" name="id">
                        <input class="btn btn-danger marg" type="submit" value="Delete">
                      </form> 
                    
                  </div>
                </li>
                {%if reply%}
                <div class="container clearfix" style="width: 75%;">
                  <div class="chat">   
                    <div class="chat-history">
                      <ul class="chat-ul">
                  {%for allreply in reply%}
                    {%if allreply.maincomment == allcomments%}
                        {%if allreply.old_reply%}
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-name"><b>{{allreply.replying_user_main}}<small> Replying To </small> {{allreply.old_replying_user}} <small>({{allreply.old_reply}})</small></b></span> <i class="fa fa-circle me"></i>
                          </div>
                          <div class="message" style="background-color:mediumseagreen">
                            {{allreply.reply}}
                            <div class="marg">
                              <form action="{% url 'commerce:reply' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input required type="text" class="form-control marg"  name="newreply"  aria-describedby="button-addon1">
                                    <button class="btn btn-outline-light marg" type="submit" id="button-addon1">Reply</button>
                                    <input type="hidden" value="{{allreply.replying_user_main}}" name="olduser">
                                    <input type="hidden" value="{{allreply.reply}}" name="oldreply">
                                    <input type="hidden" value="{{allcomments.id}}" name="commentid">
                                    <input type="hidden" value="{{pageitem.id}}" name="pageid">
                                </div>
                            </form>
                            </div>
                          </div>
                        </li>
                        {%else%}
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-name"><b>{{allreply.replying_user_main}}<small> Replying To </small> {{allreply.maincomment.usercomment}} <small>({{allreply.maincomment}})</small></b></span> <i class="fa fa-circle me"></i>
                          </div>
                          <div class="message" style="background-color:mediumseagreen">
                            {{allreply.reply}}
                            <div class="marg">
                              <form action="{% url 'commerce:reply' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input required type="text" class="form-control marg"  name="newreply"  aria-describedby="button-addon1">
                                    <button class="btn btn-outline-light marg" type="submit" id="button-addon1">Reply</button>
                                    <input type="hidden" value="{{allreply.replying_user_main}}" name="olduser">
                                    <input type="hidden" value="{{allreply.reply}}" name="oldreply">
                                    <input type="hidden" value="{{allcomments.id}}" name="commentid">
                                    <input type="hidden" value="{{pageitem.id}}" name="pageid">
                                </div>
                            </form>
                            </div>
                          </div>
                        </li>
                        {%endif%}
                    {%endif%}
                  {%endfor%}
                          </ul>
                        </div>
                      </div>
                    </div>
                {%endif%}
                       
            {%else%}
              <li class="clearfix">
                <div class="message-data align-right">
                  <span class="message-data-name"><b>{{allcomments.usercomment}}</b></span> <i class="fa fa-circle me"></i>
                </div>
                <div class="message me-message float-right">
                  {{allcomments.comment}}
                  <div class="marg">
                    <form action="{% url 'commerce:reply' %}" method="post">
                      {% csrf_token %}
                      <div class="input-group mb-3">
                          <input required type="text" class="form-control marg"  name="reply"  aria-describedby="button-addon1">
                          <button class="btn btn-outline-light marg" type="submit" id="button-addon1">Reply</button>
                          <input type="hidden" value="{{allcomments.id}}" name="commentid">
                          <input type="hidden" value="{{pageitem.id}}" name="pageid">
                      </div>
                  </form>
                  </div>
                </div>
              </li>
              {%if reply%}
                <div class="container clearfix" style="width: 75%;">
                  <div class="chat">   
                    <div class="chat-history">
                      <ul class="chat-ul">
                  {%for allreply in reply%}
                    {%if allreply.maincomment == allcomments%}
                        {%if allreply.old_reply%}
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-name"><b>{{allreply.replying_user_main}}<small> Replying To </small> {{allreply.old_replying_user}} <small>({{allreply.old_reply}})</small></b></span> <i class="fa fa-circle me"></i>
                          </div>
                          <div class="message" style="background-color:mediumseagreen">
                            {{allreply.reply}}
                            <div class="marg">
                              <form action="{% url 'commerce:reply' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input required type="text" class="form-control marg"  name="newreply"  aria-describedby="button-addon1">
                                    <button class="btn btn-outline-light marg" type="submit" id="button-addon1">Reply</button>
                                    <input type="hidden" value="{{allreply.replying_user_main}}" name="olduser">
                                    <input type="hidden" value="{{allreply.reply}}" name="oldreply">
                                    <input type="hidden" value="{{allcomments.id}}" name="commentid">
                                    <input type="hidden" value="{{pageitem.id}}" name="pageid">
                                </div>
                            </form>
                            </div>
                          </div>
                        </li>
                        {%else%}
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-name"><b>{{allreply.replying_user_main}}<small> Replying To </small> {{allreply.maincomment.usercomment}} <small>({{allreply.maincomment}})</small></b></span> <i class="fa fa-circle me"></i>
                          </div>
                          <div class="message" style="background-color:mediumseagreen">
                            {{allreply.reply}}
                            <div class="marg">
                              <form action="{% url 'commerce:reply' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input required type="text" class="form-control marg"  name="newreply"  aria-describedby="button-addon1">
                                    <button class="btn btn-outline-light marg" type="submit" id="button-addon1">Reply</button>
                                    <input type="hidden" value="{{allreply.replying_user_main}}" name="olduser">
                                    <input type="hidden" value="{{allreply.reply}}" name="oldreply">
                                    <input type="hidden" value="{{allcomments.id}}" name="commentid">
                                    <input type="hidden" value="{{pageitem.id}}" name="pageid">
                                </div>
                            </form>
                            </div>
                          </div>
                        </li>
                        {%endif%}
                    {%endif%}
                  {%endfor%}
                          </ul>
                        </div>
                      </div>
                    </div>
                {%endif%}
            {%endif%}
          {%endif%}
        {%endfor%}
            </ul>
          </div>
        </div>
      </div>
{%endif%}

{% endblock %}